body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  border: none;
  padding-top: 18px;
  padding-bottom: 15px;
  padding-left: 39px;
  padding-right: 39px;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.filter-button {
  background-color: #eeeeee;
  color: #000000;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

/* header */

.main-header {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  background-color: #eeeeee;
}

/* сетка */

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 49px;
  padding-bottom: 21px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-page-navigation {
  padding-bottom: 0px;
}

.main-navigation-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 800px;
  padding-top: 27px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-navigation-site li {
  margin-right: 47px;
  padding-bottom: 3px;
}

.main-navigation-site .main-navigation-basket {
  position: relative;
  max-width: 160px;
  padding-left: 40px;
  padding-right: 0;
  margin-left:auto;
  margin-right: 0;
}

.main-navigation-basket a::before {
  position: absolute;
  content: "";
  top: 7px;
  left: 0px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin-right: 202px;
}

.main-navigation-site a {
  color: #000000;
}

.main-navigation-site a:hover,
.main-navigation-site a:focus {
  color: #fb565a;
}

.main-navigation-site a:active {
  color: rgba(0, 0, 0, 0.3);;
  border: none;
}

.main-navigation-site-current {
  border-bottom: 2px solid #fb565a;
}

/* slider */

.slider {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  text-transform: none;
  margin: 0px auto;
  padding: 0 20px;
  width: 1200px;
  margin-bottom: 84px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  margin-left: -80px;
}

.slider-controls label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 430px;
  padding: 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 20px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0px;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-toggle-1:checked ~ .slider-list .slider-item:nth-child(1),
.slider-toggle-2:checked ~ .slider-list .slider-item:nth-child(2),
.slider-toggle-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

.slider-toggle-1:checked ~ .slider-controls label:nth-child(1)::before,
.slider-toggle-2:checked ~ .slider-controls label:nth-child(2)::before,
.slider-toggle-3:checked ~ .slider-controls label:nth-child(3)::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-header {
  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-transform: none;
  margin: 0;
  padding: 0;
  max-width: 560px;
  margin: 0;
  padding-top: 79px;
  margin-bottom: 20px;
}

.slider-item p {
  font: inherit;
  margin: 0;
  padding: 0;
  max-width: 430px;
  margin-bottom: 32px;
}

.slider-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 240px;
  margin-bottom: 80px;
}

/* features */

.features {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 105px;
  width: 1100px;
  padding-left: 20px;
  padding-right: 80px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item {
  position: relative;
  width: 300px;
  padding-top: 168px;
}

.features-item::before {
  position: absolute;
  content: "";
  top: -1px;
  left: 0px;
  width: 300px;
  height: 146px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item-image1::before {
  content: "";
  background-image: url("../img/features-item-image1.png");
  background-color: #fb565a;
}

.features-item-image2::before {
  content: "";
  background-image: url("../img/features-item-image2.png");
  background-color: #00ca74;
}

.features-item-image3::before {
  content: "";
  background-image: url("../img/features-item-image3.png");
  background-color: #efc849;
}

.features-item h3 {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.features-item-slogan {
  margin: 0;
  padding-right: 40px;
  margin-bottom: 32px;
}

.features-item-order {
  margin: 0;
}

/* description */

.description-columns {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
}

.description-columns::after {
  position: absolute;
  content: "";
  top: -27px;
  left: 20px;
  width: 1160px;
  border-top: 2px solid #eeeeee;
}

.description {
  width: 660px;
}

.description-title {
  color: #000000;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 32px;
}

.description-text {
  margin: 0;
  margin-bottom: 40px;
}


.description h3 {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.description-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.description-list li {
  position: relative;
  padding-left: 36px;
  margin-bottom: 23px;

}

.description-item::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 0px;
  width: 25px;
  border-top: 2px solid #fb565a;
}

/* about-us */

.about-us {
  width: 360px;
}

.about-us-logo {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 38px;
  width: 360px;
  height: 208px;
}

.about-us h2 {
  margin: 0;
  padding: 0;
  padding-left: 17px;
  margin-bottom: 31px;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.about-us-table {
  border-collapse: collapse;
  border-spacing: 0;
}

.about-us-number td {
  padding-top: 27px;
  padding-bottom: 27px;
  padding-right: 17px;
  color: #000000;
  font-size: 45px;
  font-weight: 700;
  line-height: 10.06px;
}

.about-us-text td {
  padding-top: 9px;
  color: #283136;
  line-height: 18px;
}

.about-us-number sup {
  font-size: 30px;
}

/* portfolio */
.portfolio {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 117px;
  width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
}

.portfolio::before {
  position: absolute;
  content: "";
  top: -50px;
  left: 20px;
  width: 1160px;
  border-top: 2px solid #eeeeee;
}

.portfolio::after {
  position: absolute;
  content: "";
  bottom: -38px;
  left: 20px;
  width: 1160px;
  border-top: 2px solid #eeeeee;
}

.portfolio-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-item {
  position: relative;
}

.portfolio-item::after {
  position: absolute;
  content: "";
  height: 52px;
  border-right: 2px solid #eeeeee;
}

.portfolio-item:nth-child(1)::after {
  top: 8px;
  right: -50px;
}

.portfolio-item:nth-child(2)::after {
  top: 17px;
  right: -47px;
}

.portfolio-item:nth-child(3)::after {
  top: 0px;
  right: -55px;
}

.portfolio-item:nth-child(4)::after {
border: none;
}

.portfolio-item:nth-child(1) {
  margin-left: 31px;
  padding-top: 3px;
  margin-right: 95px;
}

.portfolio-item:nth-child(2) {
  margin-right: 105px;
}

.portfolio-item:nth-child(4) {
  margin-left: auto;
  margin-right: 43px;
}

.portfolio-item a {
  opacity: 0.2;
}

.portfolio-item a:hover,
.portfolio-item a:focus {
  opacity: 1;
}

.portfolio-item a:active {
  opacity: 0.1;
}

/* main-footer */

.footer-map {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-width: 1160px;
  height: 416px;
  background: #eeeeee no-repeat url("../img/footer-map.png") 50% 50%;
}

.footer-map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.footer-contacts-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer-contacts-container::after {
  position: absolute;
  content: "";
  top: -325px;
  left: 700px;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 231px;
  height: 190px;
  background-image: url("../img/map-marker.png");
  z-index: 1;
}

.footer-contacts {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 50px;
  width: 319px;
  min-height: 308px;
  top: -361px;
  left: 20px;
  background-color: #ffffff;
  z-index: 5;
}

.footer-contacts h2 {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 23px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.footer-contacts p {
  margin: 0;
  padding: 0;
  padding-right: 18px;
  margin-bottom: 36px;
  color: #666666;
  line-height: 18px;
}

.footer-contacts p:nth-child(2) {
  margin-bottom: 18px;
}

.footer-contacts .button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 219px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer-columns {
  padding: 0;
  width: 760px;
}

.footer-social-title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin-top: 7px;
}

.footer-social-text {
  margin: 0;
  padding: 0;
  color: #444444;
  line-height: 22px;
  margin-top: 10px;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 260px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 141px;
}

.social-button {
  position: relative;
  display: block;
  vertical-align: middle;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.button-vk::before,
.button-fb::before,
.button-insta::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button-vk::before {
  width: 26px;
  height: 15px;
  margin-left: -13px;
  margin-top: -7px;
  background-image: url("../img/vk-icon.svg");
}

.button-fb::before {
  width: 12px;
  height: 22px;
  margin-left: -6px;
  margin-top: -11px;
  background-image: url("../img/fb-icon.svg");
}

.button-insta::before {
  width: 21px;
  height: 21px;
  margin-left: -10px;
  margin-top: -10px;
  background-image: url("../img/insta-icon.svg");
}

.button-vk:active::before,
.button-fb:active::before,
.button-insta:active::before {
opacity: 0.3;
}

/* внутренняя страница */

.inner-logo:hover,
.inner-logo:focus {
  opacity: 0.8;
}

.inner-logo:active {
  opacity: 0.3;
}

.page-title {
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 55px;
  padding-top: 58px;
  padding-bottom: 108px;
  padding-left: 20px;
  padding-right: 20px;
  width: 1160px;
  text-align: center;
}

.page-title h1 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
  margin: 0;
  padding: 0;
  text-transform: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 57px;
  padding-left: 20px;
  padding-right: 20px;
  width: 1160px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filters {
  width: 260px;
}

.catalog {
  width: 760px;
}

/* filter */

.filter {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #283136;
  margin: 0;
}

.filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-left: 3px;
}

.filter legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 15px;
}

.filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-price,
.filter-price input {
  line-height: 22px;
  text-transform: uppercase;
}

.price-range-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 260px;
}

.range-controls {
  position: relative;
  min-height: 80px;
  margin-bottom: 15px;
  margin-top: 33px;
  border-radius: 5px;
  background-color: #eeeeee;
}

.range-controls::before,
.range-controls::after {
  position: absolute;
  content: "";
  top: 39px;
  left: 21px;
  padding: 0;
}

.range-controls::before {
  content: "";
  width: 219px;
  height: 2px;
  background: #d7dcde;
}

.range-controls::after {
  content: "";
  width: 152px;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  width: 20px;
  height: 23px;
  padding: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 2;
}

.range-controls .toggle-min {
  left: 17px;
}

.range-controls .toggle-max {
  left: 159px;
}

.filter-price-range ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 54px;
}

.filter-price label {
  display: block;
  vertical-align: middle;
  width: 120px;
}

.price-input {
  width: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 5px;
  margin-left: 10px;
  color: #283136;
  text-align: center;
  border: none;
  background-color: #eeeeee;
  border-radius: 5px;
}

.filter-price:last-child label {
  margin-left: 13px;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 34px;
}

.filter .filter-grid {
  margin-bottom: 26px;
}

.filter .filter-features {
  margin-bottom: 28px;
}

.filter-button {
  width: 100%;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -34px;
  top: -1px;
  width: 23px;
  height: 23px;
  opacity: 0.4;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  display: none;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -34px;
  top: -1px;
  width: 27px;
  height: 23px;
  opacity: 0.4;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before,
.filter-input-checkbox:checked:hover + label::after,
.filter-input-checkbox:checked:focus + label::after {
  opacity: 1;
}


.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 25px;
  height: 25px;
  opacity: 0.4;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label:hover::before,
.filter-input-radio + label:focus::before {
  opacity: 1;
}

.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label {
  opacity: 0.3;
}

.filter-input-checkbox:disabled + label::before,
.filter-input-radio:disabled + label::before,
.filter-input-checkbox:disabled + label::after,
.filter-input-radio:disabled + label::after {
  opacity: 0.1;
}

.filter-input-checkbox:checked:disabled + label::before,
.filter-input-radio:checked:disabled + label::before,
.filter-input-checkbox:checked:disabled + label::after,
.filter-input-radio:checked:disabled + label::after {
  opacity: 0.1;
}


/* catalog */

.catalog-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 54px;
}

.catalog-sort-title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  width: 360px;
}

.catalog-sort-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 360px;
}

.catalog-sort-list,
.catalog-sort-arrows-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog-sort-item {
  margin-right: 26px;
}

.catalog-sort-list a {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
}

.catalog-sort-item.active a,
.catalog-sort-arrows-down.active a,
.catalog-sort-arrows-up.active a {
  opacity: 1;
}

.catalog-sort-item a:active,
.catalog-sort-arrows-down a:active,
.catalog-sort-arrows-up a:active {
  opacity: 1;
}

.catalog-sort-item a:hover,
.catalog-sort-arrows-down a:hover,
.catalog-sort-arrows-up a:hover,
.catalog-sort-item a:focus,
.catalog-sort-arrows-down a:focus,
.catalog-sort-arrows-up a:focus {
  opacity: 0.6;
}

.catalog-sort-arrows-list {
  min-width: 50px;
}

.catalog-sort-arrows-down a {
  display: block;
  width: 11px;
  height: 10px;
  margin-left: 10px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.catalog-sort-arrows-up a {
  display: block;
  vertical-align: middle;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  list-style: none;
}

.catalog-item {
  position: relative;
  background-color: #ffffff;
  width: 360px;
  margin-bottom: 34px;
  margin-right: 40px;
}

.catalog-item:nth-child(even) {
  margin-right: 0;
}

.catalog-item:nth-child(3),
.catalog-item:nth-child(4) {
  margin-bottom: 31px;
}

.catalog-item-main {
  position: relative;
  width: 360px;
  height: 576px;
  margin-top: 40px;
}

.catalog-item-main::before {
  position: absolute;
  content: "";
  top: -40px;
  left: 0px;
  width: 360px;
  height: 40px;
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.12;
}

.catalog-item:hover .catalog-item-main::before,
.catalog-item:focus .catalog-item-main::before {
 opacity: 1;
}

.catalog-item-popup {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 0;
  width:360px;
  background-color: #eeeeee;
  text-align: center;
}

.catalog-item-popup h3 {
  margin: 0;
  padding: 0;
  margin-top:28px;
  margin-bottom: 14px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-item-popup p {
  max-height:381px;
  overflow-y: auto;
  padding: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  width: 240px;
}

.catalog-item-popup1 p,
.catalog-item-popup4 p {
  width: 200px;
}

.catalog-item-popup3 p {
  width: 180px;
}

.catalog-item-popup .button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  margin-bottom: 42px;
}

.catalog-item:hover .catalog-item-popup,
.catalog-item:focus .catalog-item-popup {
  display: block;
}

.catalog-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-pages-item {
  margin-top: 0px;
  margin-right: 10px;
}

.catalog-pages-item:last-child {
  margin-right: 0;
}

.catalog-pages-item a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  min-width: 50px;
  padding: 16px 21px;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #eeeeee;
}

.catalog-pages-item a:hover,
.catalog-pages-item a:focus {
  background-color: #dfdfdf;
}

.catalog-pages-item a:active {
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-pages-current a {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
  padding: 13px 18px;
}

.catalog-pages-next a {
  min-width: 260px;
  text-align: center;
}

/* modal-write-us */

.modal-write-us {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -480px;
  margin-top: -295px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 10;
  padding: 66px 100px;
  color: #000000;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  width: 960px;
  min-height: 590px;
  -webkit-box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
          box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal-write-us-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-write-us h2 {
  padding: 0;
  margin: 0;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin-bottom: 40px;
}

.write-us-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 760px;
}

.write-us-form input[type="text"],
.write-us-form textarea {
  margin: 0;
  margin-bottom: 33px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: inherit;
  color: #444444;
  background-color: #ffffff;
  border: 2px solid #d7dcde;
}

.write-us-form p {
  margin: 0;
}

.modal-user-details {
  max-width: 360px;
}

.write-us-form label {
  margin-bottom: 10px;
}

.write-us-input {
  width: 360px;
  height: 50px;
  margin-top: 10px;
  padding-left: 13px;
  background-color: #ffffff;

}

.write-us-form textarea {
  width:760px;
  padding-top: 10px;
  padding-left: 12px;
  padding-bottom: 13px;
}

.write-us-button {
  margin-top: 10px;
  min-width: 260px;
}

.write-us-form label {
  font-weight: 700;
  display: block;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
  border-color: #b4b9bb;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
  border-color: #000000;
}

.write-us-form input:invalid,
.write-us-form textarea:invalid {
  border-color: #e74246;
  color: #e74246;
}

.modal-close {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 78px;
  right: 90px;
  border: none;
  background-color: #ffffff;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.3;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}
