body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  border: none;
  padding-top: 18px;
  padding-bottom: 15px;
  padding-left: 39px;
  padding-right: 39px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.filter-button {
  background-color: #eeeeee;
  color: #000000;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

/* header */

.main-header {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  background-color: #eeeeee;
}

/* сетка */

.main-navigation {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 49px;
  padding-bottom: 21px;
  align-items: flex-start;
}

.main-navigation-site {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 800px;
  padding-top: 27px;
  justify-content: space-between;
}

.main-navigation-site li {
  margin-right: 47px;
  padding-bottom: 3px;
}

.main-navigation-site .main-navigation-basket {
  position: relative;
  /* max-width: 160px; */
  padding-left: 40px;
  padding-right: 0;
  margin-left:auto;
  margin-right: 0;
}

.main-navigation-basket a::before {
  position: absolute;
  content: "";
  top: 7px;
  left: 0px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin-right: 202px;
}

.main-navigation-site a {
  color: #000000;
}

.main-navigation-site a:hover,
.main-navigation-site a:focus {
  color: #fb565a;
}

.main-navigation-site a:active {
  color: rgba(0, 0, 0, 0.3);;
  border: none;
}

.main-navigation-site-current {
  border-bottom: 2px solid #fb565a;
}


/* slider */

.slider-column-slides {
  margin: 0;
  padding: 0;
  width: 690px;
  height: 413px;
}

.slider {
  display: flex;
  justify-content: space-between;
  text-transform: none;
  margin: 0px auto;
  padding-left: 20px;
  padding-right: 55px;
  width: 1125px;
  min-height: 413px;
  margin-bottom: 80px;
}

.slider-header {
  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-transform: none;
  margin: 0;
  padding: 0;
  margin-top: 58px;
  margin-bottom: 20px;
}

.slider-column-info p {
  font: inherit;
  margin: 0;
  padding: 0;
  margin-bottom: 33px;
}

.slider-button {
  padding-right: 55px;
  padding-left: 53px;
}

/* features */

.features {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 105px;
  width: 1100px;
  padding-left: 20px;
  padding-right: 80px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item {
  position: relative;
  width: 300px;
  /* display: flex;
  flex-direction: column; */
  padding-top: 168px;
}

.features-item::before {
  position: absolute;
  content: "";
  top: -1px;
  left: 0px;
  width: 300px;
  height: 146px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item-image1::before {
  background-image: url("../img/features-item-image1.png");
}

.features-item-image2::before {
  background-image: url("../img/features-item-image2.png");
}

.features-item-image3::before {
  background-image: url("../img/features-item-image3.png");
}

.features-item h3 {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.features-item-slogan {
  margin: 0;
  padding-right: 40px;
  margin-bottom: 32px;
}

.features-item-order {
  margin: 0;
}

/* description */
.description-columns {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
}

.description-columns::after {
  position: absolute;
  content: "";
  top: -27px;
  left: 20px;
  width: 1160px;
  border-top: 2px solid #eeeeee;
}

.description {
  width: 660px;
}

.description-title {
  color: #000000;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 32px;
}

.description-text {
  margin: 0;
  margin-bottom: 40px;
}


.description h3 {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.description-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.description-list li {
  position: relative;
  padding-left: 36px;
  margin-bottom: 23px;

}

.description-item::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 0px;
  width: 25px;
  border-top: 2px solid #fb565a;
}

/* about-us */

.about-us {
  width: 360px;
}

.about-us-logo {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 38px;
  width: 360px;
  height: 208px;
}

.about-us h2 {
  margin: 0;
  padding: 0;
  padding-left: 17px;
  margin-bottom: 31px;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.about-us-table {
  border-collapse: collapse;
  border-spacing: 0;
}

.about-us-number td {
  padding-top: 27px;
  padding-bottom: 27px;
  padding-right: 14px;
  color: #000000;
  font-size: 45px;
  font-weight: 700;
  line-height: 10.06px;
}

.about-us-text td {
  padding-top: 9px;
  color: #283136;
  line-height: 18px;
}

/* portfolio */
.portfolio {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 117px;
  width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
}

.portfolio::before {
  position: absolute;
  content: "";
  top: -50px;
  left: 20px;
  width: 1160px;
  border-top: 2px solid #eeeeee;
}

.portfolio::after {
  position: absolute;
  content: "";
  top: 132px;
  left: 20px;
  width: 1160px;
  border-top: 2px solid #eeeeee;
}

.portfolio-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio-item:nth-child(1) {
  margin-left: 31px;
  padding-top: 3px;
  margin-right: 95px;
}

.portfolio-item:nth-child(2) {
  margin-right: 105px;
}

.portfolio-item:nth-child(4) {
  margin-left: auto;
  margin-right: 43px;
}

.portfolio-item a {
  opacity: 0.2;
}

.portfolio-item a:hover,
.portfolio-item a:focus {
  opacity: 1;
}

.portfolio-item a:active {
  opacity: 0.1;
}

/* main-footer */
.main-footer {
    width: 100%;
  }

.footer-map {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  height: 416px;
  margin-bottom: 70px;
  background-color: #b5b5b5;
}

.footer-map::after {
  position: absolute;
  content: "";
  top: 89px;
  left: 820px;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 231px;
  height: 190px;
  background-image: url("../img/map-marker.png");
}

.footer-contacts {
  position: absolute;
  box-sizing: border-box;
  padding: 50px 50px;
  width: 319px;
  height: 308px;
  top: 54px;
  left: 140px;
  background-color: #ffffff;
}

.footer-contacts h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.footer-contacts p {
  margin: 0;
  padding: 0;
  padding-right: 18px;
  margin-bottom: 35px;
  color: #666666;
  line-height: 18px;
}

.footer-contacts p:nth-child(2) {
  margin-bottom: 18px;
}

.footer-contacts .button {
  box-sizing: border-box;
  width: 219px;
}

.footer-social {
  display: flex;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
}

/* .footer-columns {
  padding: 0;
} */

.footer-social-title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin-top: 7px;
}

.footer-social-text {
  margin: 0;
  padding: 0;
  color: #444444;
  line-height: 22px;
  margin-top: 10px;
}

.footer-social ul {
  display: flex;
  justify-content: space-between;
  width: 260px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 141px;
}

.social-button {
  position: relative;
  display: block;
  vertical-align: middle;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.button-vk::before,
.button-fb::before,
.button-insta::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button-vk::before {
  width: 26px;
  height: 15px;
  margin-left: -13px;
  margin-top: -7px;
  background-image: url("../img/vk-icon.svg");
}

.button-fb::before {
  width: 12px;
  height: 22px;
  margin-left: -6px;
  margin-top: -11px;
  background-image: url("../img/fb-icon.svg");
}

.button-insta::before {
  width: 21px;
  height: 21px;
  margin-left: -10px;
  margin-top: -10px;
  background-image: url("../img/insta-icon.svg");
}

.button-vk:active::before,
.button-fb:active::before,
.button-insta:active::before {
opacity: 0.3;
}


/* modal-write-us */

.modal-write-us {
  display: none;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 66px 100px;
  color: #000000;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  width: 960px;
  height: 590px;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal-write-us h2 {
  padding: 0;
  margin: 0;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin-bottom: 40px;
}

.write-us-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
}

.write-us-form input[type="text"],
.write-us-form textarea {
  margin: 0;
  margin-bottom: 33px;
  box-sizing: border-box;
  font: inherit;
  color: #444444;
  background-color: #ffffff;
  border: 2px solid #d7dcde;
}

.write-us-form p {
  margin: 0;
}

.write-us-form label {
  margin-bottom: 10px;
}

.write-us-input {
  width: 360px;
  height: 50px;
  margin-top: 10px;
  padding-left: 13px;
  background-color: #ffffff;

}

.write-us-form textarea {
  width:760px;
  padding-top: 10px;
  padding-left: 12px;
  padding-bottom: 13px;
}

.write-us-button {
  margin-top: 10px;
  width: 260px;
}

.write-us-form label {
  font-weight: 700;
  display: block;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
  border-color: #b4b9bb;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
  border-color: #000000;
}

.write-us-form input:invalid,
.write-us-form textarea:invalid {
  border-color: #e74246;
  color: #e74246;
}

.modal-close {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 78px;
  right: 90px;
  border: none;
  background-color: #ffffff;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.3;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
  cursor: pointer;
}

.modal-close:active {
  opacity: 0.1;
  cursor: pointer;
}

/* внутренняя страница */

.inner-logo:hover,
.inner-logo:focus {
    opacity: 0.8;
}

.inner-logo:active {
    opacity: 0.3;
}

.page-title {
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 55px;
  padding-top: 58px;
  padding-bottom: 108px;
  padding-left: 20px;
  padding-right: 20px;
  width: 1160px;
  text-align: center;
}

.page-title h1 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
  margin: 0;
  padding: 0;
  text-transform: none;
}

.container {
  display: flex;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  width: 1160px;
  justify-content: space-between;
}

.filters {
  width: 260px;
}

.catalog {
  width: 760px;
}

/* filter */

.filter {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #283136;
  margin: 0;
}

.filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-left: 3px;
}

.filter-price-range {
  height: 265px;
}

.filter legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 15px;
}

.filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-price,
.filter-price input {
  line-height: 22px;
}

.price-input {
  background-color: #eeeeee;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 34px;
}

.filter .filter-grid {
  margin-bottom: 26px;
}

.filter .filter-features {
  margin-bottom: 28px;
}

.filter-button {
  width: 100%;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -34px;
  top: -1px;
  width: 23px;
  height: 23px;
  opacity: 0.4;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  display: none;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -34px;
  top: -1px;
  width: 27px;
  height: 23px;
  opacity: 0.4;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox + label:focus::before,
.filter-input-checkbox:checked + label:hover::after,
.filter-input-checkbox:checked + label:focus::after {
  opacity: 1;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 25px;
  height: 25px;
  opacity: 0.4;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label:hover::before,
.filter-input-radio + label:focus::before {
  opacity: 1;
}

.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label {
  opacity: 0.3;
}

.filter-input-checkbox:disabled + label::before,
.filter-input-radio:disabled + label::before,
.filter-input-checkbox:disabled + label::after,
.filter-input-radio:disabled + label::after {
  opacity: 0.1;
}


/* catalog */
.catalog-sort {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 54px;
}


.catalog-sort-list,
.catalog-sort-arrows-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.catalog-sort-item {
  margin-right: 26px;
}

.catalog-sort-arrows-up {
  margin-left: 18px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
  list-style: none;
}

.catalog-item {
  position: relative;
  /* background-color: #eeeeee; */
  background-color: #ffffff;
  width: 360px;
  /* margin-bottom: 34px; */
  margin-right: 40px;
}

.catalog-item:nth-child(even) {
  margin-right: 0;
}

.catalog-item:nth-child(3),
.catalog-item:nth-child(4) {
  margin-top: 34px;
  margin-bottom: 31px;
}

.catalog-item-main {
  position: relative;
  width: 360px;
  height: 576px;
  margin-top: 40px;
}

.catalog-item-main::before {
  position: absolute;
  content: "";
  top: -40px;
  left: 0px;
  width: 360px;
  height: 40px;
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.12;
}

.catalog-item:hover .catalog-item-main::before,
.catalog-item:focus .catalog-item-main::before {
 opacity: 1;
}

.catalog-sort-title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  width: 360px;
}

.catalog-sort-wrapper {
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.catalog-sort-list a,
.catalog-sort-arrows-list a {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.inactive a {
  opacity: 0.3;
}


.catalog-item-popup {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 0;
  width:360px;
  /* height: 231px; */
  background-color: #eeeeee;
  text-align: center;
}

.catalog-item-popup h3 {
  margin: 0;
  padding: 0;
  margin-top:28px;
  margin-bottom: 14px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-item-popup p {
  padding: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  width: 240px;
}

.catalog-item-popup1 p,
.catalog-item-popup4 p {
  width: 200px;
}

.catalog-item-popup3 p {
  width: 180px;
}

.catalog-item-popup .button {
  box-sizing: border-box;
  width: 200px;
  margin-bottom: 42px;
}

.catalog-item:hover .catalog-item-popup,
.catalog-item:focus .catalog-item-popup {
  display: block;
}

.catalog-pages {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-pages-item {
  margin-top: 0px;
  margin-right: 10px;
}

.catalog-pages-item:last-child {
  margin-right: 0;
}

.catalog-pages-item a {
  box-sizing: border-box;
  display: block;
  min-width: 50px;
  padding: 16px 21px;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #eeeeee;
}

.catalog-pages-item a:hover,
.catalog-pages-item a:focus {
  background-color: #dfdfdf;
}

.catalog-pages-item a:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-pages-current a {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
  padding: 13px 18px;
}

.catalog-pages-next a {
  width: 260px;
  text-align: center;
}
